* {
    box-sizing: border-box;
}

/* Style the body */

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */

.header {
    padding: 30px;
    text-align: center;
    background: lightBlue;
    color: white;
}

/* Increase the font size of the heading */

.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */

.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */

.navbar a.right {
    float: right;
}

/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.menu {
    list-style: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* Column container */

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    width: 30%;
    position: absolute;
}

/* Main column */

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
    width: 70%;
    margin-left: 30%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.vitalcontent {
    display: none;
}

th {
    background: #0b6c8c;
    font: bold;
    font-size: 20px;
    padding: 15px;
    color: #fff;
}

td {
    font-size: 16px;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #a0ccdb;
}

#warning {
    padding: 20px;
    background-color: pink;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}

.btn-primary {
    width: 75%;
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: black;
    border-radius: 3px;
    border: none;
    margin: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    width: 75%;
    padding: 10px;
    font-size: 14px;
    color: black;
    background-color: white;
    border: solid 1px black;
    cursor: pointer;
}

.btn-login {
    width: 75%;
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #0b6c8c;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

.btn-login:hover {
    width: 75%;
    padding: 10px;
    font-size: 14px;
    color: #0b6c8c;
    background-color: #fff;
    border: solid 1px #0b6c8c;
    cursor: pointer;
    display: block;
    width: 100%;
}

.btn-block {
    display: block;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


