body {
  background: lightBlue;
}

h1 {
  color: Black;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  /*50vh*/
}

h1 {
  font-size: 80px;
  font-family: "CenturyGothic", Geneva, AppleGothic, sans-serif;
  margin-bottom: 100px;
}

label {
  font-family: Georgia, Times, "Times New Roman", serif;
}

fieldset {
  background-color: white;
  display: inline-block;
  text-align: left;
  border-color: #000000;
  margin-top: auto;
  margin-left: auto;
}

div {
  display: inline-block;
}

h2 {
  font-size: 40px;
  margin-top: 30px;
}

a {
  font-size: 30px;
}