    /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body { 
    background: lightBlue 
}
table, th, td { 
    border: 1px solid black; border-collapse: collapse; 
}

h1 {
    color: red; 
}


